/* styles/ActivityScreen.css */
.activity-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/public/image11.png") no-repeat center center/cover;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
}
